@model List<blog.vanwalsum.com.au.Models.TagViewModels.TagSummaryViewModel>
@{
    ViewData["Title"] = "Tags";
}

<div class="row">
    <div class="col-md-12 ">

        <ol class="breadcrumb" style="margin-top:25px; background-color:inherit">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active"><a href="/Tag">Tags</a></li>
        </ol>
    </div>
    <div class="col-md-3">
        <div class="well">
            <!-- sidebar -->
            @await Component.InvokeAsync("SideBar")
        </div>
    </div>
    <div class="col-md-9">
            << tag overview here >>
    </div>

</div>
